{% schema %}
  {
    "name": "New Arrivals",
    "settings": [],
    "presets": [
    {
      "name": "new-arrivals"
    }
  ]
  }
{% endschema %}
{% assign collection_handle = 'frontpage' %}

<section class="new-arrivals section-space">
    <div class="container">
        <div class="new-arrivals-inner">
            <div class="new-ar-btn">
                <a href="#" class="arrow-btn">
                    <span>New Arrivals</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14"><g><g><path d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1l-.558.444c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/><path fill="none" stroke="#000" stroke-miterlimit="20" stroke-width=".3" d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043v0l.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1v0l-.558.444v0c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/></g></g></svg>
                </a>
            </div>
            <div class="new-ar-product product-card-main"> 
                <div class="new-ar-inner">

                {% for product in collections[collection_handle].products limit: 3 %}
                  
                    <div class="cm-ar-pr">
                        <div class="product-card">
                            <div class="product-image">
                                <a href="#">
                                    <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="New arrivals">
                                </a>
                                <a href="#" class="wishlist-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"><g><g><path d="M18.571 6.111c.062 1.248-.338 2.317-.934 3.337-.731 1.26-1.708 2.31-2.765 3.294-1.604 1.487-3.368 2.747-5.224 3.896-.147.086-.258.074-.393-.012a36.128 36.128 0 0 1-4.793-3.503c-1.223-1.057-2.293-2.255-3.159-3.62a6.097 6.097 0 0 1-.928-4.135c.148-1.168.59-2.2 1.426-3.042A5.118 5.118 0 0 1 4.843.832c1.395-.178 2.66.172 3.773 1.045.276.215.51.473.756.719.08.08.116.068.184-.006.64-.72 1.389-1.266 2.31-1.567a4.75 4.75 0 0 1 2.035-.197c.89.099 1.733.363 2.482.867.775.522 1.31 1.235 1.709 2.07.252.53.4 1.088.48 1.66.03.233 0 .485 0 .688z"></path></g></g></svg>
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-details">
                                    <h3 class="product-name">{{ product.title }}</h3>
                                    <div class="sh1 price">{{ product.price | money_with_currency }}</div>
                                </div>
                                <div class="pr-shop-btn">
                                    <a href="{{ product.link }}" class="btn-bg-border">
                                        <span>Shop now</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14"><g><g><path d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1l-.558.444c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/><path fill="none" stroke="#000" stroke-miterlimit="20" stroke-width=".3" d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043v0l.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1v0l-.558.444v0c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"/></g></g></svg>
                                    </a>
                                    <a href="#" class="add-to-wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"><g><g><path d="M18.571 6.111c.062 1.248-.338 2.317-.934 3.337-.731 1.26-1.708 2.31-2.765 3.294-1.604 1.487-3.368 2.747-5.224 3.896-.147.086-.258.074-.393-.012a36.128 36.128 0 0 1-4.793-3.503c-1.223-1.057-2.293-2.255-3.159-3.62a6.097 6.097 0 0 1-.928-4.135c.148-1.168.59-2.2 1.426-3.042A5.118 5.118 0 0 1 4.843.832c1.395-.178 2.66.172 3.773 1.045.276.215.51.473.756.719.08.08.116.068.184-.006.64-.72 1.389-1.266 2.31-1.567a4.75 4.75 0 0 1 2.035-.197c.89.099 1.733.363 2.482.867.775.522 1.31 1.235 1.709 2.07.252.53.4 1.088.48 1.66.03.233 0 .485 0 .688z"/></g></g></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}

                                          
                </div>
                <div class="mob-shop-all-btn">
                    <a href="#" class="btn-bg-border">
                        <span>Shop all new arrivals</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14"><g><g><path d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1l-.558.444c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"></path><path fill="none" stroke="#000" stroke-miterlimit="20" stroke-width=".3" d="M.593 7.724h16.78l.026.071c-.279.27-.558.542-.84.808-1.552 1.488-3.108 2.97-4.66 4.454l-.048.043v0l.588.494a1689.81 1689.81 0 0 0 3.927-3.747c.728-.694 1.456-1.385 2.18-2.083.326-.314.326-.479-.005-.797C16.532 5.045 14.27 2.922 12.261 1v0l-.558.444v0c1.765 1.687 3.779 3.66 5.544 5.348.056.055.135.102.17.223H.593"></path></g></g></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
                                                  
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}